.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Obviously Variable';
    padding: 1rem;
}

.container h1 {
    color: #818C58;
    text-transform: uppercase;
    font-size: 3em;
    width: 90vw;
    margin-bottom: 0;
    text-align: center
}

.container h2 {
    color: #818C58;
    text-transform: uppercase;
    font-size: 1.7em;
    margin-top: 0;
    width: 80vw;
    text-align: center
}

.container a {
    text-align: center;
    width: 90vw;
    font-size: 20px;
    margin-bottom: 60px;
}

.img {
    width: 946px;
    height: 579px;
    background-image: url('/lemur-site-ime.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    .img {
        width: 90vw;
        height: 38vw;
        margin: auto;
    }

    .container p {
        font-size: 15px;
    }
}