.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Obviously Variable';
    padding: 1rem;
    font-size: 20px;
}

.title {
    color: #818C58;
    text-transform: uppercase;
    text-align:center;
}

.container p {
width: 55%;
text-align: center;
}

.container ul {
    width: 56%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    text-align: center;
}

.container li {
    margin: 15px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {

    .container p {
        width: 90vw;
    }

    .container ul {
        width: 90vw;
    }
}