.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Obviously Variable';
    text-align:center;
    width: 50%;
    margin: auto;
    font-size: 1.5em;
    color: #818C58
}

@media screen and (max-width: 768px) {
    .container p {
        text-wrap: wrap;
        font-size: 15px;
        width: 90vw;
    }
}