.content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity: 0;
    background-color: #818C58;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.content:hover {
    opacity: 1;
    transition: 0.5s;
}

.content>h1 {
    text-transform: uppercase;
    font-size: 37px;
    color: #FFE9CF;
    font-weight: bold;
    font-family: 'Obviously Variable';
    margin:0;
    width: 70%;
    text-align: center;
}

.content>p {
    font-size: 20px;
    color: black;
    font-family: 'Obviously Variable';
    text-align: center;
    word-wrap: wrap;
    width: 70%;
}

.date {
    font-size: 20px;
    color: #FFE9CF!important;
    font-family: 'Obviously Variable';
    text-transform: lowercase;
    margin:0;
}

.actuality {
    border: 3px solid black;
}

@media screen and (max-width: 768px) {
    .actuality{
        width: 90vw !important;
        height: 68vw !important;
    }

    .content>h1 {
        font-size: 25px;
    }
}