.content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity: 0;
    background-color: #818C58;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.content:hover {
    opacity: 1;
    transition: 0.5s;
}

.content>h1 {
    text-transform: uppercase;
    font-size: 37;
    color: #FFE9CF;
    font-weight: bold;
    font-family: 'Obviously Variable';
    margin:0;
}

.content>p {
    font-size: 33;
    color: black;
    font-family: 'Obviously Variable';
    text-align: center;
    word-wrap: wrap;
}

.date {
    font-size: 20;
    color: #FFE9CF!important;
    font-family: 'Obviously Variable';
    text-transform: lowercase;
    margin:0;
}

.link {
    font-size: 20px;
    color: #FFE9CF;
    font-family: 'Obviously Variable';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border: solid 2px black;
    padding: 5px 15px;
    border-radius: 1000px;
    transition: 0.5s;
}

.link:hover {
    background-color: #F21F1F;
    color: #FFE9CF;
    transition: 0.5s;
}