.article {
    width: 40%;
    text-align: center;
    font-size: 24;
}

.container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Obviously Variable';
}

@media screen and (max-width: 768px) {
    .article {
        width: 100%;
    }

    .container {
        margin-top: 100px;
    }
}