.title {
    font-family: 'Obviously Variable', sans-serif;
    font-weight: bold;
    font-size: 37px;
    text-transform: uppercase;
    color: #818C58;
}

.link {
    font-size: 20px;
    color: #FFE9CF;
    font-family: 'Obviously Variable';
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border: solid 2px black;
    padding: 5px 15px;
    border-radius: 1000px;
    background-color: #818C58;
    transition: 0.5s;
}

.link:hover {
    background-color: #F21F1F;
    color: #FFE9CF;
    transition: 0.5s;
}